
.dialog-pane {
  -fx-background-color: rgba(255, 255, 255, 0.9);
  -fx-border-width: 3px;
  -fx-border-color: #FFE0BD;
}

.dialog-pane .label {
  -fx-text-fill: #7F5539;
  -fx-font-family: "Times New Roman";
}

.dialog-pane .button {
  -fx-background-color: #FFE0BD;
  -fx-background-radius: 50px;
  -fx-text-fill: #7F5539;
  -fx-font-family: "Times New Roman";
  -fx-font-size: 16px;
  -fx-border-radius: 50px;
  -fx-padding: 8px 16px;
}

.dialog-pane .button:focused {
  -fx-border-color: black;
}

.dialog-pane .button:hover {
  -fx-background-color: #FFC799;
}

.dialog-pane .button:pressed {
  -fx-background-color: #FFA940;
}

.dialog-pane .button:default {
  -fx-background-color: #FFE0BD;
  -fx-text-fill: #7F5539;
  -fx-font-weight: bold;
}

.dialog-pane .button:default:hover {
  -fx-background-color: #FFC799;
  -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.6), 5, 0, 0, 1);
}
.dialog-pane .button:default:focused {
  -fx-border-color: black;
}